.functionContainer {
    margin-bottom: var(--ifm-leading);
    border-radius: var(--ifm-global-radius);
    box-shadow: var(--ifm-global-shadow-lw);
    overflow: hidden;
}

.functionContent {
    position: relative;
    direction: ltr;
    background-color: rgb(30, 30, 30);
    font: var(--ifm-code-font-size) / var(--ifm-pre-line-height) var(--ifm-font-family-monospace);
    white-space: pre;
    float: left;
    min-width: 100%;
    padding: var(--ifm-pre-padding);
}

.realm {
    background: var(--realm-background);
    display: inline-block;
    margin-right: 4px;
    background-color: black;
    background: var(--realm-background);
    border-radius: 3px;
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

